body {
	margin: 0;
	overflow: hidden;
	font-family: "HelveticaNeue-Thin", "Helvetica Neue Thin", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	font-weight: 300;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.btn {
	cursor: pointer;
}
.everything {
	width: 1000px;
	overflow: hidden;
	display: block;
	white-space: nowrap;
}
.header {
	width: 100%;
	height: 32px;
	background: #ebeef0;
	text-align: right;
	font-size: 18px;
}
.header .btn {
	padding: 6px;
	display: inline-block;
}
.header .btn:hover {
	color: #007aff;
}
.header .btn.left {
	float: left;
}
.pane {
	position: relative;
	width: 250px;
	display: inline-block;
	float: left;
	background: #fff;
	z-index: 10;
	white-space: normal;
}
.content {
	position: relative;
	height: 300px;
	display: block;
	background: #fff;
	overflow-y: auto;
	z-index: 10;
}

/*
 * Pane: About
 *
 */
#pane_about {
	padding-top: 50px;
	position: absolute;
		left: 0;
		top: 32px;
		bottom: 0;
	width: 200px;
	text-align: center;
	z-index: ;
}
#pane_about img {
	width: 80px;
}
#pane_about h1 {
	margin: 10px 0 0 0;
	font-family: "HelveticaNeue-Thin", "Helvetica Neue Thin", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-weight: 300;
}
#pane_about p {
	margin: 6px 0 0 0;
	font-size: 12px;
}
.steveostudios:hover {
	color: #007aff;
}

/*
 * Pane: List
 *
 */
#list {
	margin: 0;
	padding: 0;
	height: auto;
	list-style: none;
	background: #fff;
}
#list li {
	/*width: auto;*/
	height: auto;
	border-bottom: 1px solid #ededee;
	overflow: hidden;
	display: block;
	white-space: nowrap;
	background: #fff;
}

#list li .item_button, #list li .item_edit {
	height: 50px;
	display: inline-block;
	vertical-align: top;
}
.item_button {
	width: 224px;
	margin-left: 0;
	padding-left: 15px;
	padding-right: 15px;
	line-height: 50px;
	white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.item_button i {
	margin-right: 15px;
}
.item_button:hover {
	background: #007aff;
	color: #fff;
}
.item_edit {
	margin: 0;
	width: 64px;
	font-size: 16px;
	border-left: 1px solid #ededee;
	background: #ebeef0;
}
#list li .item_edit .btn {
	padding: 17px 8px;
	/*border: 1px solid red;*/
	display: inline-block;
}
.item_addone {
	width: 224px;
	margin-left: 0;
	padding-left: 15px;
	padding-right: 15px;
	line-height: 50px;
	white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.item_addone i {
	margin-right: 15px;
}

/*
 * Pane: Edit
 *
 */
#pane_edit form {
	margin: 15px;
}
#pane_edit form .form_group {
	margin-bottom: 15px;
}
#pane_edit form input[type='text'] {
	padding: 5px;
	width: 100%;
	font-family: "HelveticaNeue-Thin", "Helvetica Neue Thin", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	font-size: 14px;
	border: 1px solid #ededee;
	border-radius: 3px;
}
.btn_select_icon {
	padding: 6px 0 0 0;
	height: 22px;
	border: 1px solid #ededee;
	border-radius: 3px;
	text-align: center;
}
.btn_item_remove {
	padding-top: 8px;
	width: 218px;
	height: 32px;
	line-height: 20px;
	border: 1px solid #ededee;
	border-radius: 3px;
	text-align: center;
	display: block;
}
.btn_item_remove_confirm, .btn_item_remove_cancel {
	padding-top: 8px;
	width: 108px;
	height: 32px;
	line-height: 20px;
	border: 1px solid #ededee;
	text-align: center;
	display: inline-block;
}
.btn_item_remove_confirm {
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
}
.btn_item_remove_cancel {
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
	border-left: none; 
}
.btngroup_item_remove_areyousure {
	display: none;
}

/*
 * Pane: Icons
 *
 */
ul#icons {
	margin: 0 15px 0 20px;
	padding: 10px 0 0 0;
	font-size: 18px;
	-webkit-column-count: 7;
  -webkit-column-gap: 0px;
  list-style: none;
  white-space: pre-wrap;
}
ul#icons li {
	padding: 5px;
	margin-bottom: 3px;
	border-radius: 3px;
	display: inline-block;
}
ul#icons li:hover {
	background: #ebeef0;
}
ul#icons li.selected {
	background: #007aff;
	color: #fff;
}