.header {
	width: 300px;
	border: 1px solid #000;
	display: inline-block;
}
.pane {
	width: 300px;
	border: 1px solid #000;
	display: inline-block;
}

.btngroup_item_remove_areyousure {
	display: none;
}